* {
	font-family:georgia;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	box-sizing:border-box;
}
html,body {
	margin:0;
	padding:0;
	height:100%;
}
.head {
	padding:10px;
	height:50px;
	background:rgba(0,0,255,.6);
	margin-bottom:5px;
}
.page {
	display:flex;
	flex-direction:column;
	height:100%;
}
.content {
	background:#DD7FCC;
}
.page_content {
	justify-content:center;
	display:flex;
	flex:1 0 auto;
}
.right_side_bar,.left_side_bar, .content {
	padding:5px;
}
.left_side_bar {
	background:#FA9C00;
}
.right_side_bar {
	background:#99CD00;
	height:200px;
}
.left_side_bar {
	width:20%;
	margin-right:5px;
}
.right_side_bar {
	width:20%;
}
.content {
	width:60%;
	margin-right:5px;
}
.footer {
	padding:5px;
	background:rgba(0,0,255,.6);
	height:50px;
	flex: 0 0 auto;
	margin-top:5px;
	width:100%;
}
